[Unit]
Description=Beluga control socket
PartOf=beluga.service

[Socket]
ListenStream=/run/beluga.socket
SocketUser=beluga
SocketGroup=beluga
SocketMode=0660

[Install]
WantedBy=sockets.target
